body {
    background-color: #292527;
    color: #e9de0f;
}
/* Styling the list of items in the nav bar*/
nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    z-index: 10;
}
/* Styling the space of each item*/
nav li {
    list-style: none;
    background-color: #b0a70b;
    color: #000000;
    margin: 0;
    flex: 1;
    min-width: 200px;
    text-align: center;
    display: flex;
    position: relative;
}
/* Styling the link, both unvisited and visited*/
nav a, nav a:visited {
    text-decoration: none;
    width:100%;
    padding: 8px 0;
    color: #000000;
}
/* Hovering over a link*/
nav a:hover {
    color: #800100;
    background-color: rgb(150, 143, 230);
}
.dropdown-content {
    position: absolute;
    top: 37px;
    width: 100%;
    display: none;
    z-index: 20;
}
nav li:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    font-weight: bold;
}
.dropdown-content ul {
    flex-direction: column;
}